.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid white;
    padding: 10px 16px;
}
.image-block{
    display: flex;
    column-gap: 20px;
}
.my-photo{
    height: 114px;
    border-radius: 15%;
}
.name p{
    color: white;
    font-size: 37px;
}
.gmail-text{
    font-family: numberFont;
    color: white;
  
}
.tittle{
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 70px;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-page{
    padding: 20px 0;
}
.lists{
    font-size: 24px;
    display: flex;
    justify-content: center;
    row-gap: 30px;
    column-gap: 62px;
    flex-wrap: wrap;
    list-style: none;
    ;
}
.skills h2{
    color: white;
}
.lists li{
    color: white;

}
.skilss-text{
    text-align: center;
    font-size: 40px;
    text-align: center;
    color: white;
}
.gmail-logo{
    background: white;
    width: 20px;
    height: 20px;
    background: black;
}
.telegram-logo{
    width: 20px;
    height: 20px;
}
.about-me{
    display: flex;
    column-gap: 10px;
}
.pages-text{
    color: white;
    margin-top: 125px;
}
.links{
       display: grid;
       flex-wrap: wrap;
       font-size: 140px;
       grid-template-columns: 1fr 1fr 1fr;
       row-gap: 27px;
       justify-items: center;
       margin-top: 70px;
       gap: 57px;
}
.links a{
    color: white;
}
.links div{
    font-family: 'asd';
    width: 288px;
}
.links div img{
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
}